<div class="form-container">

  <%= form_for(funding_application) do |f| %>
    <% if funding_application.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(funding_application.errors.count, "error") %> prohibited this funding_application from being saved:</h2>

        <ul>
        <% funding_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>

      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :headline %><br>
      <%= f.text_field :headline %>
    </div>

    <div class="field">
      <%= f.label :additional_information %><br>
      <%= f.text_field :additional_information %>
    </div>

    <div class="field">
      <label>Syndicate</label><br>
      <%= f.collection_select :syndicate_id, Syndicate.all, :id, :name, prompt: true %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
