<div class="content with-gutter">

  <h1>Funding Applications</h1>

  <table class="white-table">
    <thead>
      <tr>
        <th>Application Name</th>
        <th># of Questions</th>
        <th>Date Created</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @funding_applications.each do |funding_application| %>
        <tr>
          <td><%= funding_application.name %></td>
          <td><%= funding_application.funding_application_questions.count %></td>
          <td><%= funding_application.created_at.strftime("%m/%e/%Y") %></td>
          <td><%= link_to "Apply", initiate_funding_application_submission_path(funding_application.id) %></td>
          <td><%= link_to 'Show', funding_application %></td>
          <td><%= link_to 'Edit Questions', edit_funding_application_questions_path(funding_application.id) %>
          <td><%= link_to 'Edit', edit_funding_application_path(funding_application) %></td>
          <td><%= link_to 'Destroy', funding_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Funding Application', new_funding_application_path %>

</div>
