<div class="content with-gutter">

  <h1>Votable Projects</h1>

  <table class="white-table">
    <thead>
      <tr>
        <th>Headline</th>
        <th colspan="1"></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @votable_projects.each do |votable_project| %>
        <tr>
          <td><%= votable_project.headline %><br/>
            <%= votable_project.sub_headline %>
          </td>
          <td>
            Upvotes: <%= number_to_percentage(votable_project.upvote_percentage, precision: 1) %> (<%= votable_project.upvote_count %> votes) <br>
            Downvotes: <%= number_to_percentage(votable_project.downvote_percentage, precision: 1) %> (<%= votable_project.downvote_count %> votes)<br>
            Time Remaining: <%= votable_project.time_remaining %>
          </td>
          <td>
            <%= link_to 'Show', votable_project %>
            <%= link_to 'Edit', edit_votable_project_path(votable_project) %>
            <%= link_to 'Destroy', votable_project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
