<p id="notice"><%= notice %></p>

<div class="content with-gutter">

  <div class="content__section__header">
    <h1>Funding Application Submissions</h1>
  </div>

  <table>
    <thead>
      <tr>
        <th>Application Name</th>
        <th>Applicant Email</th>
        <th>Date of Submission</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @funding_application_submissions.each do |funding_application_submission| %>
        <tr>
          <td><%= funding_application_submission.funding_application.name %></td>
          <td><%= funding_application_submission.user.email %></td>
          <td><%= funding_application_submission.created_at.strftime("%m/%e/%Y") %></td>
          <td><%= link_to 'Show', funding_application_submission %></td>
          <td><%= link_to 'Edit', edit_funding_application_submission_path(funding_application_submission) %></td>
          <td><%= link_to 'Destroy', funding_application_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
