<p id="notice"><%= notice %></p>

<div class="content with-gutter">

  <%= link_to 'Back to Submission Home', funding_application_submissions_path %>

  <div class="content__section__header">
    <h1><%= @funding_application_submission.funding_application.name %> Application</h1>
  </div>

  <div class="form-container">

    <div class="field">
      <label>User Email:</label><br/>
      <p><%= @funding_application_submission.user.email %></p>

    </div>

    <% @funding_application_submission.funding_application_submission_answers.each do |answer| %>

      <div class="field">

        <label><%= answer.funding_application_question.question_text %></label><br/>
        <p>
          <% if answer.funding_application_question.answer_format == "text" %>
            <%= answer.answer_text %>
          <% elsif answer.funding_application_question.answer_format == "number" %>
            <%= answer.answer_number %>
          <% elsif answer.funding_application_question.answer_format == "boolean" %>
            <%= answer.answer_boolean %>
          <%end%>
        </p>

      </div>

    <% end %>

  </div>

  <%= link_to "Approve for Interview", approve_for_interview_and_return_path(@funding_application_submission.id), class:"button medium blue-background"%>
  <%= link_to "Reject Application", reject_for_interview_and_return_path(@funding_application_submission.id), class:"button medium red-background"%>
  <%= link_to "Edit Application", edit_funding_application_submission_path(@funding_application_submission), class:"button medium grey-background"%>

</div>
