<div class="navigation">

  <div class="navigation__left">
    <%= link_to "Home", root_path, class:"navigation__link" %>
  </div>

  <div class="navigation__right">
    <% unless user_signed_in? %>
      <%= link_to "Log in", login_path, class:"navigation__link"  %>
      <%= link_to "Signup", signup_path, class:"navigation__link"  %>
    <% else %>
      <%= link_to "Settings", account_settings_path, class:"navigation__link"  %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"navigation__link" %>
    <% end%>
  </div>

</div>
