<div class="content with-gutter">

  <%= render 'accounts/accounts_page_header' %>

  <div class="form-container">

    <%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <label>Profile Image</label><br />
        <%= image_tag current_user.image, class:'profile-image--small' %><br /><br />
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

  </div>

</div>
