<div class="content with-gutter">

  <%= render 'accounts/accounts_page_header' %>

  <div class="form-container">

    <%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class:"" }) do |f| %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

  </div>

</div>
